<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at $9 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, quod?
    </p>
    <div class="input-group">
      <input
        type="text"
        class="input"
        placeholder="Enter domain name here..."
      />
      <button class="btn btn--accent">
        <svg class="icon icon--white">
          <use xlink:href="/Images/sprite.svg#search"></use></svg
        >Search
      </button>
    </div>
    <ul class="list block-domain__prices">
      <item><badge class="badge badge--secondary">.com $9</badge></item>
      <item>.sg $10</item>
      <item>.space $11</item>
      <item>.info $14</item>
      <item>.net $10</item>
      <item>.xyz $10</item>
    </ul>
  </header>
</section>
